<%- include("header") -%>
<div class="box" id="heading" style="max-width: 700px;
margin: 200px auto 50px auto;">
    <h1>
        This is a simple to do list website that I have create through my web development journey.
    </h1>
  </div>
  <form action="/" method="POST" style="margin-left: 0;">
    <button
        style="
        background-color: white;
        color: #bb371a;
        font-size: 1.1rem;
        padding: 10px;
        border-radius: 5px;
        width: 15rem;
        margin: 0;" 
        type="submit">
            Click here to go to the app
    </button>
  </form>

<%- include("footer") -%>