html {
  background-image: url("/img/todo-bg.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff8d9;
  padding: 10px;
  font-family: 'Lobster', cursive;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #bb371a;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #eba83a;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #bb371a;
  font-family: 'Roboto', sans-serif;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  cursor: pointer;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #bb371a;
  color: #fff8d9;
  font-size: 30px;
  border-width: 0;
  transition: all 0.5s ease;
}

button:hover{
  background-color: #eba83a;
  color: #bb371a;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  font-family: 'Roboto', sans-serif;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #bb371a;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

footer p{
  color: #fff8d9;
  background-color: rgba(187, 55, 26, 0.3);
  padding: 5px;
}
